{{>head}}

<div class="nav">
    <div class="name">
        <h1>Submit Hoise?</h1>
    </div>
</div>

<div style="text-align: center; font-size: 80%; font-family: &#39;Red Hat Mono&#39;, monospace;">
    <h2>No file named {{file_name}} is found in {{faculty_init}}'s drive</h2>
    <h2>Recheck your inputs</h2>
    <img src="/the_meme2.gif" alt="serious">
    <br>
    <br>
    <button class="btn" onclick="location.href='/'">Recheck</button>
</div>
{{>footer}}
