{{>head}}

<div class="nav">
    <div class="name">
        <h1>Submit Hoise?</h1>
    </div>
</div>

<div style="text-align: center; font-size: 80%; font-family: &#39;Red Hat Mono&#39;, monospace;">
    <h2>File name {{file_name}} found in {{faculty_init}}'s Drive</h2>
    <img src="/the_meme.jpg" alt="the meme" width="500" height="330">
    <br>
    <br>
    <button class="btn" onclick="location.href='/'">Recheck</button>
</div>
{{>footer}}
