{{>head}}

<div class="nav">
    <div class="name">
        <h1>Submit Hoise?</h1>
    </div>
</div>

<div style="text-align: center; font-size: 80%; font-family: &#39;Red Hat Mono&#39;, monospace;">
    <h2>Maybe {{faculty_init}} is not teaching {{course_name}}</h2>
    <h2>Or, maybe in {{course_name}} no faculty's initial is {{faculty_init}} </h2>
    <br>
    <button class="btn" onclick="location.href='/'">Recheck</button>
</div>
{{>footer}}
