<div class="container">
    <div class="form-container">
        <form action="/submit-form" method="POST">
            <p style="font-size: 70%;">Please fill in the form.</p>
            <input type="text" name="course_name" placeholder="Course Name" required>
            <br>
            <input type="text" name="faculty_init" placeholder="Faculty Initial" required>
            <br>
            <input type="text" name="file_name" placeholder="File Name with Extension" required>
            <br><br>
            <button class="btn">Check</button>
        </form>
    </div>
</div>

