<div class="nav">
    <div class="name">
        <h1>Submit Hoise?</h1>
    </div>
    <div class="faculty">
        <button class="btn" onclick="location.href='/login'">Faculty</button>
    </div>
</div>

<div style="text-align: center; font-size: 80%; font-family: &#39;Red Hat Mono&#39;, monospace;">
    <h3>Do not trust Google forms even if it clearly says YOUR RESPONSE HAS BEEN RECORDED.</h3>
    <h3>Check here to see if your scripts were actually submitted or not, for real.</h3>
</div>

